.article-preview {
  border: solid rgb(181, 181, 181) 2px;
  padding: 2% 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border: solid black 2px;
}

h2, .read-more {
  font-size: 15pt;
}

p {
  font-size: 10pt;
}

.date {
  font-size: 8pt;
}

.published {
  text-align: end;
}

.center {
  text-align: center;
}