.article-preview {
  border: solid rgb(181, 181, 181) 2px;
  padding: 2% 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5%;
}

.article-img {
  height: 200px;
  width: 250px;
  object-fit: cover;
  border: solid black 2px;
}

.read-more {
  font-size: 15pt;
  border: black solid 1px;
  margin-bottom: 2%;
}

p {
  font-size: 10pt;
}

.date {
  font-size: 8pt;
}

.published {
  text-align: end;
}

.center {
  text-align: center;
}

h2 {
  font-family: 'Newsreader', serif;
  margin-bottom: 0;
}